<div class="flex flex-row space-x-12 px-12">
  <div class="flex flex-col w-2/3">
    <div class="flex flex-row border my-4 py-4 items-start rounded-md">
      <app-vote-button
        [post]="post"
        class="px-4 mt-4 place-start"
      ></app-vote-button>
      <div class="w-full h-full px-12">
        <div class="flex flex-row space-x-2 items-center my-4">
          <h3 class="font-semibold">{{ post.subredditName }}</h3>
          <h3 class="text-sm text-gray-500">.</h3>
          <h3 class="text-sm text-gray-500">
            Post by <a href="" class="text-blue-500">{{ post.userName }}</a>
          </h3>
          <h3 class="text-sm text-gray-500">.</h3>
          <h3 class="text-sm text-gray-500">{{ post.duration }}</h3>
        </div>
        <hr />
        <div class="flex flex-col my-4 grow">
          <h1 class="text-xl font-semibold">{{ post.postName }}</h1>
          <h2 [innerHTML]="post.description"></h2>
        </div>
        <form (submit)="saveComment()" class="flex flex-col space-y-4">
          <textarea
            rows=""
            cols=""
            placeholder="Your thoughts"
            class="border border-gray-100 w-full px-4"
            [(ngModel)]="comment.text"
            name="comment"
          ></textarea>
          <div class="flex w-full justify-end">
            <button
              type="submit"
              class="px-8 my-2 bg-blue-500 items-end text-white rounded-md"
            >
              Comment
            </button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <h2 class="text-xl text-blue-500 font-semibold">Comments</h2>

      <div *ngFor="let comment of comments" class="border px-4 my-4">
        <h4 class="text-blue-500 mb-4">{{comment.userName}}</h4>
        <p>{{comment.text}}</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col space-y-4">
    <app-create-bar></app-create-bar>
    <app-browse-reddit></app-browse-reddit>
  </div>
</div>
