<div class="border rounded-md flex flex-col px-2 items-center justify-center space-y-2">
  <h4 class="text-gray-500 text-center">
    Welcome to Reddit home page! Come here to check in with your favourite
    subreddits.
  </h4>
  <a routerLink="create-post" class="w-full text-center py-1 text-white bg-blue-500 rounded-md"
    >CREATE POST</a
  >
  <a
    routerLink="create-subreddit"
    class="w-full text-center py-1 text-blue-500 border border-blue-500 rounded-md"
    >CREATE SUBREDDIT</a
  >
</div>
