<div class="flex flex-col px-14 w-1/2 mx-auto border">
  <h1 class="my-4 text-lg font-semibold">Create subreddit</h1>
  <form (ngSubmit)="createSubreddit()" class="flex flex-col space-y-4 my-8">
    <input
      type="text"
      name="title"
      placeholder="Title"
      class="border px-4 focus:outline-blue-500"
      [(ngModel)]="subreddit.name"
    />
    <textarea
      rows=""
      cols=""
      name="description"
      class="border px-4 focus:outline-blue-500"
      placeholder="Description"
      [(ngModel)] = "subreddit.description"
    ></textarea>
    <div class="flex flex-row space-x-2 items-center justify-center">
      <button
        (click)="discard()"
        class="w-1/2 text-blue-500 border border-blue-500 rounded-md"
      >
        DISCARD
      </button>
      <button
        type="submit"
        class="w-1/2 text-white bg-blue-500 my-2 rounded-md"
      >
        CREATE
      </button>
    </div>
  </form>
</div>
